@import url('https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap');

* {
    box-sizing: border-box;
}

#covid-title {
    color: #20a685;
    font-size: 16px;
    font-weight: bolder;
    padding-top: 3vh;
    padding-left: 2vh;
    line-height: 0%;
}

#section-title {
    color: #172b3e;
    font-size: 28px;
    line-height: 0%;
    padding-left: 2vh;
}

#update {
    color: #a8b7c5;
    line-height: 0%;
    padding-left: 2vh;
}

body {
    padding-top: 75px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.4;
    background-color: #f3faf8;;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: left;
    padding: 15px;
}

.nav-link {
    color: #2c6ab9;
    text-decoration: none;
    margin: 0 15px;
}

.sjc-logo {
    display: block;
    max-width: 100%;
    max-height: 200px;
}

.container {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(110, 220, 191, 0.3);
    background-color: white;
    margin: 10px 1.66%;
    padding: 20px;
    width: 30%;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.recovered-panel {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(110, 220, 191, 0.3);
    background-color: #1da584;
    margin: 20px 1.66%;
    padding: 10px;
    width: 30%;
    flex-flow: column wrap;
}

#recovered-big {
    color: #a4dbce;
    text-align: justify;
    line-height: 0%;
}

#recovered-number-big {
    color: white;
    font-size: 60px;
    text-align: justify;
    line-height: 0%;
    font-weight: bold;
}

#recovered-small {
    color: #a4dbce;
    font-size: 15px;
    text-align: justify;
    line-height: 0%;
}

#recovered-number-small {
    color: white;
    font-size: 40px;
    text-align: justify;
    line-height: 0%;
    font-weight: bold;
}

.confirmed-panel {
    flex-direction: column;
}

#confirmed-big {
    color: #2cab8c;
    text-transform: uppercase;
    text-align: justify;
}

#confirmed-number {
    color: #232a2f;
    font-size: 1.5em;
    font-weight: bold;
    text-align: justify;
    line-height: 0%;
}

#confirmed-text {
    color: #7a848c;
    font-size: 0.8em;
    font-weight: bold;
    text-align: justify;
    line-height: 0%;
}

#down-big {
    color: #a6bbcc;
    text-transform: uppercase;
    text-align: justify;
}

#down-number {
    color: #232a2f;
    font-size: 1.5em;
    font-weight: bold;
    text-align: justify;
    line-height: 0%;
}

#down-text {
    color: #7a848c;
    font-size: 0.8em;
    font-weight: bold;
    text-align: justify;
    line-height: 0%;
}

footer {
    background-color: white;
    color: #2c6ab9;
    padding: 10px;
    text-align: center;
}
